bbot-main-v2-ov2qz7oAqH7IcQuZ.json
{"createdAt":"2024-07-22T12:47:28.669Z","updatedAt":"2024-07-25T12:08:38.380Z","id":"ov2qz7oAqH7IcQuZ","name":"BBoT Main v2","active":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"0149f53d-fff1-4c46-8c51-3982c1405045","name":"endpoint","value":"https://new-api.zapsterapi.com/v1/wa/messages","type":"string"},{"id":"52f84584-b6b9-4063-97e1-f1ff4c0c69cd","name":"bearer","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MjE3NjMzMTcsImlzcyI6InphcHN0ZXJhcGkiLCJzdWIiOiJhM2E1MzdiMS1jOGM1LTQ2NTMtYTA4Zi0yYjVkODg3NDQ5ZTIiLCJqdGkiOiIwYWJiMzE3MS0yYmJkLTRiMGEtODFlNi1mYjU1YTQyNGJlZjEifQ.FD0EQ7ZXIxqLHMR5e-pEkUm6QVZVSTvdESEn-j0DkVQ","type":"string"},{"id":"a6023261-7b8d-4035-a58a-fc52b79d3b7f","name":"botName","value":"KhIAra","type":"string"},{"id":"4e8c1589-1364-45ae-b140-575a4270aba7","name":"companyName","value":"KhIAra Company","type":"string"},{"id":"b0660bd0-f2b1-4c41-86e1-39787a4d9415","name":"instance","value":"5nhbn8us5rnorhzp36a0l","type":"string"}]},"options":{}},"id":"0c0b4399-0707-4e39-8773-a8a722663e99","name":"parameters","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[-660,580]},{"parameters":{"operation":"update","tableId":"workflow","filters":{"conditions":[{"keyName":"sender","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.sender }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"step","fieldValue":"bye"}]}},"id":"766d7d3a-dd2c-4e93-8503-2df29f54c068","name":"end","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2300,780],"disabled":true},{"parameters":{"method":"POST","url":"={{ $('parameters').item.json.endpoint }}/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"sessionKey","value":"={{ $('parameters').item.json.sessionKey }}"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $('parameters').item.json.session }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.sender }}"},{"name":"text","value":"=A *{{ $('parameters').item.json[\"companyName\"] }}* agradece por entrar em contato e te esperamos em uma nova oportunidade."}]},"options":{}},"id":"358ff06f-73cf-4b6e-b46f-c541e1f48c89","name":"goodbye1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1980,780],"disabled":true},{"parameters":{"method":"POST","url":"={{ $('parameters').item.json.endpoint }}/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"sessionKey","value":"={{ $('parameters').item.json.sessionKey }}"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $('parameters').item.json.session }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.sender }}"},{"name":"text","value":"=Atendimento encerrado.\nPermanecemos a sua disposição."}]},"options":{}},"id":"c1e43b1d-76ef-4fd2-a5e5-cdd053ddba4d","name":"goodbye2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2140,780],"disabled":true},{"parameters":{"method":"POST","url":"={{ $('parameters').item.json.endpoint }}/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"sessionKey","value":"={{ $('parameters').item.json.sessionKey }}"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $('parameters').item.json.session }}"},{"name":"number","value":"={{ $('Webhook').item.json.body.sender }}"},{"name":"text","value":"=Olá novamente *{{ $('Webhook').item.json.body.name.split(\" \")[0] }}* 👋, seja bem vindo! \n\nEu sou a *{{ $('parameters').item.json[\"botName\"] }}*, *assistente virtual* 🤖 da *{{ $('parameters').item.json[\"companyName\"] }}*.\n\nPara dar sequência ao atendimento, *digite o número da opção desejada:*\n\n*1* - Abrir um chamado\n*2* - Consultar chamado\n"}]},"options":{}},"id":"4f6a8f37-e70e-4601-8899-02f620ae2f7d","name":"welcome-back","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1740,940],"disabled":true},{"parameters":{"operation":"update","tableId":"workflow","filters":{"conditions":[{"keyName":"sender","condition":"eq","keyValue":"={{ $('Webhook').item.json.body.sender }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"step","fieldValue":"greeting"}]}},"id":"a6153808-df45-46eb-bffd-ddd54bed0ebf","name":"stp-greeting-welcome","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1980,960],"disabled":true},{"parameters":{"workflowId":"8uZt6XcVQTm5fbHt","options":{}},"id":"492cc80d-6657-4278-95ae-3f48a48ee852","name":"goto-inactivity","type":"n8n-nodes-base.executeWorkflow","typeVersion":1,"position":[3180,240],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"62d175db-4cf4-4ca2-92aa-336fb1308235","name":"step","value":"={{ $json.step }}","type":"string"},{"id":"2e806f60-59b3-4ed4-ba05-24c944b9e3f9","name":"sender","value":"={{ $json.sender }}","type":"string"}]},"options":{}},"id":"1fd2daa8-b5c2-424a-ae16-c2e4931226e0","name":"save-step","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[2960,240],"disabled":true},{"parameters":{"databaseId":125831,"tableId":327300,"returnAll":true,"additionalOptions":{"filters":{"fields":[{"field":2391277,"value":"={{ $('Webhook').item.json.body.data.sender.id }}"}]}}},"id":"603aff0f-de1b-4557-94ef-f297927d05e9","name":"search-sender","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[-180,440],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"rNOeXjv80IaXWe9C","name":"Baserow account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"04fa96a4-ce30-4440-b0a0-b72839db9ae4","leftValue":"={{ $('Webhook').item.json.body.data.type }}","rightValue":"text","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"dba2394b-b52b-40b4-b0f9-2cb827cb1a3c","leftValue":"={{ $('Webhook').item.json.body.data.type }}","rightValue":"audio","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"9f1886b9-f3e0-47dc-b5d7-90b61de62598","leftValue":"={{ $('Webhook').item.json.body.data.type }}","rightValue":"image","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"image"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"3a40635e-1bf9-4c9a-9fe0-c83ea7033db4","leftValue":"={{ $('Webhook').item.json.body.data.type }}","rightValue":"video","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"video"}]},"options":{}},"id":"8fb26b4f-a00a-4b89-a086-a6649986b24f","name":"msg_type","type":"n8n-nodes-base.switch","typeVersion":3,"position":[-440,580]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ceebc382-a3cd-4f90-b041-24067facbd15","leftValue":"={{ !!Object.keys($node['search-sender'].data).length }}","rightValue":"={{ $('Webhook').item.json.body.sender }}","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"33c0a17d-1ee6-4e19-86ce-ad1f306ed017","name":"sender-exists?","type":"n8n-nodes-base.if","typeVersion":2,"position":[80,320]},{"parameters":{"operation":"create","databaseId":125831,"tableId":327300,"fieldsUi":{"fieldValues":[{"fieldId":2391277,"fieldValue":"={{ $('Webhook').item.json.body.data.sender.id }}"},{"fieldId":2395852,"fieldValue":"greeting"},{"fieldId":2391256,"fieldValue":"={{ $('Webhook').item.json.body.data.sender.name }}"}]}},"id":"ca74dbc7-3b77-43cf-81d3-998b0c2154f4","name":"create-sender","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[500,520],"alwaysOutputData":true,"credentials":{"baserowApi":{"id":"rNOeXjv80IaXWe9C","name":"Baserow account"}}},{"parameters":{"method":"POST","url":"={{ $('parameters').item.json.endpoint }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('parameters').item.json.bearer }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"instance_id","value":"={{ $('Webhook').item.json.headers['x-instance-id'] }}"},{"name":"recipient","value":"={{ $('Webhook').item.json.body.data.sender.id }}"},{"name":"text","value":"=Olá *{{ $('Webhook').item.json.body.data.sender.name.split(\" \")[0] }}* 👋, seja bem vindo! \n\nEu sou a *{{ $('parameters').item.json[\"botName\"] }}*, *assistente virtual* 🤖 da *{{ $('parameters').item.json[\"companyName\"] }}*.\n\nPara dar sequência ao atendimento, *digite o número da opção desejada:*\n\n*1* - Abrir um chamado\n*2* - Consultar chamado\n"}]},"options":{}},"id":"4a4b351c-8380-4603-ae53-6e0da56bf0cd","name":"send-greeting","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[320,520]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.step }}","rightValue":"greeting","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"greeting"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"80cc3b19-5d97-42e9-a6e1-bcea094848b4","leftValue":"={{ $json.step }}","rightValue":"opt_one","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"opt_one"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"ac75cb82-c1ca-405e-bae3-c8ddc081a522","leftValue":"={{ $json.step }}","rightValue":"search_cep","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"search_cep"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"f2279629-273c-4119-8ada-cd96ba72e4cd","leftValue":"={{ $json.step }}","rightValue":"end-timeout","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"timeout"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"440d0a4d-9347-4187-8fa9-d9ec169aee93","leftValue":"={{ $json.step }}","rightValue":"bye","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"bye"}]},"options":{}},"id":"3f6b45d6-b9fe-4099-8bfd-478e92f50ac2","name":"which-step?","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1420,780],"disabled":true},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.data.content.text }}","rightValue":"1","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"15b1260e-1128-4850-9295-7a49b3e3dbdf","leftValue":"={{ $('Webhook').item.json.body.data.content.text }}","rightValue":"2","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"2"}]},"options":{}},"id":"89193784-5c80-4843-8800-baae5ac89008","name":"check-option","type":"n8n-nodes-base.switch","typeVersion":3,"position":[560,160]},{"parameters":{"method":"POST","url":"={{ $('parameters').item.json.endpoint }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('parameters').item.json.bearer }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"instance_id","value":"={{ $('Webhook').item.json.headers['x-instance-id'] }}"},{"name":"recipient","value":"={{ $('Webhook').item.json.body.data.sender.id }}"},{"name":"text","value":"=Tudo bem *{{ $('Webhook').item.json.body.data.sender.name.split(\" \")[0] }}*, para darmos andamento a abertura do seu chamado, preciso que voce digite somente o número do *CEP* para atendimento.\n\n"}]},"options":{}},"id":"3fad4031-34be-489e-b563-ff29abd5fdb4","name":"opt-1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,80]},{"parameters":{"method":"POST","url":"={{ $('parameters').item.json.endpoint }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('parameters').item.json.bearer }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"instance_id","value":"={{ $('Webhook').item.json.headers['x-instance-id'] }}"},{"name":"recipient","value":"={{ $('Webhook').item.json.body.data.sender.id }}"},{"name":"text","value":"=Certo, para darmos andamento a consulta do seu protocolo, escolha o número de qual protocolo deseja saber o andamento:\n\n*1* - xxxxxxxx \n*2* - xxxxxxxx \n*3* - xxxxxxxx \n*4* - xxxxxxxx "}]},"options":{}},"id":"811a347c-b7e8-4a59-b2bd-f84c146dec14","name":"opt-2","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[840,260]},{"parameters":{"operation":"update","databaseId":125831,"tableId":327300,"rowId":"={{ $('search-sender').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2395852,"fieldValue":"stp-opt-2"}]}},"id":"bdafc116-a81d-4c71-b03f-f7d4c7e2012a","name":"stp-opt-2","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1060,260],"credentials":{"baserowApi":{"id":"rNOeXjv80IaXWe9C","name":"Baserow account"}},"disabled":true},{"parameters":{"operation":"update","databaseId":125831,"tableId":327300,"rowId":"={{ $('search-sender').item.json.id }}","fieldsUi":{"fieldValues":[{"fieldId":2395852,"fieldValue":"stp-opt-1"}]}},"id":"c5e39e21-776c-463b-bdde-eccf13adc66a","name":"stp-opt-1","type":"n8n-nodes-base.baserow","typeVersion":1,"position":[1060,80],"credentials":{"baserowApi":{"id":"rNOeXjv80IaXWe9C","name":"Baserow account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.step }}","rightValue":"greeting","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"greeting"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"8571473a-6fa1-407e-b262-3ea4cf7da96f","leftValue":"={{ $json.step }}","rightValue":"stp-opt-1","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"stp-opt-1"}]},"options":{}},"id":"1005afaa-3f14-4218-9036-db5190b24237","name":"check-step","type":"n8n-nodes-base.switch","typeVersion":3,"position":[320,300]},{"parameters":{"method":"POST","url":"={{ $('parameters').item.json.endpoint }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('parameters').item.json.bearer }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"instance_id","value":"={{ $('Webhook').item.json.headers['x-instance-id'] }}"},{"name":"recipient","value":"={{ $('Webhook').item.json.body.data.sender.id }}"},{"name":"text","value":"=Me parece que o CEP digitado está incorreto. verifique o CEP informado e tente novamente por favor."}]},"options":{}},"id":"f57bf7d3-3ceb-4884-9127-59440dc30dea","name":"incorrect-cep","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1860,480]},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $('Webhook').item.json.body.content.toLowerCase() }}","rightValue":"fim","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"fim"}]},"options":{}},"id":"9215e5aa-ddf3-4652-8ca2-012ce1196f56","name":"end-continue","type":"n8n-nodes-base.switch","typeVersion":3,"position":[1740,780],"disabled":true},{"parameters":{"httpMethod":"POST","path":"bbot","options":{}},"id":"bfb61600-2092-4b55-b15c-871586ba0f0b","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-860,580],"webhookId":"ff632b93-b744-41b0-92e7-9fad3c291839"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"65f95e39-106a-43f5-b969-56ce0b5675d6","leftValue":"={{ $json.body.erro }}","rightValue":"true","operator":{"type":"string","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"bd8d66d5-9571-480b-af6c-32a39c66d34f","name":"search-cep-error","type":"n8n-nodes-base.if","typeVersion":2,"position":[1660,340],"onError":"continueRegularOutput"},{"parameters":{"url":"=https://viacep.com.br/ws/{{ $json.cep }}/json/","options":{"response":{"response":{"fullResponse":true}}}},"id":"1990f235-7b80-4250-8dd3-a0de50e31a5b","name":"search-cep","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1400,340],"alwaysOutputData":false,"retryOnFail":true,"onError":"continueRegularOutput"},{"parameters":{"method":"POST","url":"={{ $('parameters').item.json.endpoint }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer {{ $('parameters').item.json.bearer }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"instance_id","value":"={{ $('Webhook').item.json.headers['x-instance-id'] }}"},{"name":"recipient","value":"={{ $('Webhook').item.json.body.data.sender.id }}"},{"name":"text","value":"=Certo *{{ $('Webhook').item.json.body.data.sender.name.split(\" \")[0] }}*, você desejar solicitar um atendimento para o seguinte endereço:\n\n{{ $('search-cep').item.json.body.cep }}\n{{ $('search-cep').item.json.body.logradouro }}\n{{ $('search-cep').item.json.body.bairro }}\n{{ $('search-cep').item.json.body.localidade }} - {{ $('search-cep').item.json.body.uf }}\n\nDigite o número da residência para atendimento ou *fim* para encerrar atendimento. "}]},"options":{}},"id":"05db228e-4520-4fd3-8832-8878e8b557c3","name":"show-result","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1860,220]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"30a35e89-3700-480d-8fa4-29327463cce2","leftValue":"={{ $json.cep }}","rightValue":"=/^[0-9]{8}$/","operator":{"type":"string","operation":"regex"}}],"combinator":"and"},"options":{}},"id":"ecf740da-8d03-43b2-9caf-9378b4eca19b","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[1060,460]},{"parameters":{"jsCode":"cep = $('Webhook').itemMatching(0).json.body.data.content.text\n\ncontent = cep.replace(/ /g, '').replace('.','').replace('-','').trim()\n\nreturn { json: { \"cep\": content } }\n"},"id":"a475d8f0-3826-45b6-b8c6-812ed0ebe808","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[840,460]}],"connections":{"parameters":{"main":[[{"node":"msg_type","type":"main","index":0}]]},"goodbye1":{"main":[[{"node":"goodbye2","type":"main","index":0}]]},"goodbye2":{"main":[[{"node":"end","type":"main","index":0}]]},"welcome-back":{"main":[[{"node":"stp-greeting-welcome","type":"main","index":0}]]},"save-step":{"main":[[{"node":"goto-inactivity","type":"main","index":0}]]},"search-sender":{"main":[[{"node":"sender-exists?","type":"main","index":0}]]},"msg_type":{"main":[[{"node":"search-sender","type":"main","index":0}]]},"sender-exists?":{"main":[[{"node":"check-step","type":"main","index":0}],[{"node":"send-greeting","type":"main","index":0}]]},"send-greeting":{"main":[[{"node":"create-sender","type":"main","index":0}]]},"which-step?":{"main":[[],[],[{"node":"end-continue","type":"main","index":0}],[{"node":"welcome-back","type":"main","index":0}],[{"node":"welcome-back","type":"main","index":0}]]},"check-option":{"main":[[{"node":"opt-1","type":"main","index":0}],[{"node":"opt-2","type":"main","index":0}]]},"opt-1":{"main":[[{"node":"stp-opt-1","type":"main","index":0}]]},"opt-2":{"main":[[{"node":"stp-opt-2","type":"main","index":0}]]},"check-step":{"main":[[{"node":"check-option","type":"main","index":0}],[{"node":"Code","type":"main","index":0}]]},"end-continue":{"main":[[{"node":"goodbye1","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"parameters","type":"main","index":0}]]},"search-cep-error":{"main":[[{"node":"show-result","type":"main","index":0}],[{"node":"incorrect-cep","type":"main","index":0}]]},"search-cep":{"main":[[{"node":"search-cep-error","type":"main","index":0}]]},"If":{"main":[[{"node":"search-cep","type":"main","index":0}],[{"node":"incorrect-cep","type":"main","index":0}]]},"Code":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Webhook":[{"json":{"headers":{"host":"92a0-179-253-250-206.ngrok-free.app","user-agent":"Zapsterapi/0.9.1","content-length":"467","accept":"application/json, text/plain, */*","accept-encoding":"gzip, compress, deflate, br","content-type":"application/json","x-attempt-count":"1","x-forwarded-for":"5.161.202.227","x-forwarded-host":"92a0-179-253-250-206.ngrok-free.app","x-forwarded-proto":"https","x-instance-id":"utpbj9obikp2ztldahcrb","x-instance-phonenumber":"554196573361","x-message-id":"972n61eqos1i3ghhg2jpf"},"params":{},"query":{},"body":{"created_at":"2024-07-24T12:45:35.646Z","data":{"content":{"view_once":false,"expires_at":"2024-07-25T12:45:35.000Z","text":"82940090"},"id":"182E7792CC56662A69E017C72C84A20C","recipient":{"name":"Waldir Borba Junior","id":"554191853938","profile_picture":null,"type":"chat"},"sender":{"name":"Waldir Borba Junior","id":"554191853938","profile_picture":null},"sent_at":"2024-07-24T12:45:35.000Z","type":"text"},"id":"972n61eqos1i3ghhg2jpf","type":"message.received"},"webhookUrl":"https://92a0-179-253-250-206.ngrok-free.app/webhook-test/bbot","executionMode":"test"}}]},"versionId":"fa29b419-1c0e-4909-afd1-d7c902269567","triggerCount":0,"tags":[]}