bbot-inactivity-8uZt6XcVQTm5fbHt.json
{"createdAt":"2024-05-20T18:03:07.153Z","updatedAt":"2024-07-02T16:49:03.000Z","id":"8uZt6XcVQTm5fbHt","name":"BBoT-Inactivity","active":false,"nodes":[{"parameters":{"operation":"get","tableId":"workflow","filters":{"conditions":[{"keyName":"sender","keyValue":"={{ $('tg-inactivity').item.json.sender }}"}]}},"id":"2a70ca4b-1ae6-443e-a1a5-2911163c8a0d","name":"search-step","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[240,520],"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"5CV2k8yPhUBY6jzs","name":"Supabase account"}}},{"parameters":{},"id":"6288cc58-5c80-4866-9b3f-046745731f7b","name":"wait","type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[40,520],"webhookId":"dbf18457-04e5-40f4-be3e-808760ee46c4"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"01180494-a01a-48c3-a8fc-22cf89e0afb6","leftValue":"={{ $json.step }}","rightValue":"={{ $('tg-inactivity').item.json.step }}","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"ec157c0f-6b78-4936-9b52-6bddd4ac3ab5","name":"validate-step","type":"n8n-nodes-base.if","typeVersion":2,"position":[460,520]},{"parameters":{"operation":"update","tableId":"workflow","filters":{"conditions":[{"keyName":"sender","condition":"eq","keyValue":"={{ $('tg-inactivity').item.json.sender }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"step","fieldValue":"end-timeout"}]}},"id":"478d2b46-3eea-412c-b3f8-731263c6fddc","name":"end-timeout","type":"n8n-nodes-base.supabase","typeVersion":1,"position":[820,360],"credentials":{"supabaseApi":{"id":"5CV2k8yPhUBY6jzs","name":"Supabase account"}}},{"parameters":{},"id":"247a0bd4-8839-496d-9b26-4b9b72e17fdf","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1060,540]},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"gh57hwVXcaoevmbf","mode":"list","cachedResultName":"BBoT-MainFlow (#gh57hwVXcaoevmbf)"}},"id":"9773a6a6-0b89-4e00-8086-e293e90428ca","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-200,520],"credentials":{"n8nApi":{"id":"CqmkOmrpC8EjTe4D","name":"n8n account"}}},{"parameters":{"method":"POST","url":"={{ $('n8n').item.json.nodes[0].parameters.assignments.assignments[0].value }}/sendText","sendHeaders":true,"headerParameters":{"parameters":[{"name":"sessionKey","value":"={{ $('n8n').item.json.nodes[0].parameters.assignments.assignments[2].value }}"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"session","value":"={{ $('n8n').item.json.nodes[0].parameters.assignments.assignments[1].value }}"},{"name":"number","value":"={{ $('tg-inactivity').item.json.sender }}"},{"name":"text","value":"=Olá, parece que você deve estar ocupado no momento.\n\nEstou encerrando nosso atendimento, mas a qualquer momento voce pode voltar a me chamar. Basta digitar *{{ $('n8n').item.json.nodes[0].parameters.assignments.assignments[3].value }}*.\n\nA *{{ $('n8n').item.json.nodes[0].parameters.assignments.assignments[4].value }}* agradece por entrar em contato e te esperamos em uma nova oportunidade.\n  "}]},"options":{}},"id":"37e12d93-383b-44ce-a129-9285489816f8","name":"timeout-msg","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[640,360]},{"parameters":{},"id":"ca092b38-63bc-447a-af6f-f504ec4b368c","name":"tg-inactivity","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-420,520]}],"connections":{"search-step":{"main":[[{"node":"validate-step","type":"main","index":0}]]},"wait":{"main":[[{"node":"search-step","type":"main","index":0}]]},"validate-step":{"main":[[{"node":"timeout-msg","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"n8n":{"main":[[{"node":"wait","type":"main","index":0}]]},"end-timeout":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"timeout-msg":{"main":[[{"node":"end-timeout","type":"main","index":0}]]},"tg-inactivity":{"main":[[{"node":"n8n","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"97593d4b-21f0-40b1-be63-9aec5637d692","triggerCount":0,"tags":[{"createdAt":"2024-05-22T11:58:30.124Z","updatedAt":"2024-05-22T11:58:30.124Z","id":"ii7vVXIayVpEsfgn","name":"BBoTInactivity"}]}