brightmindbot-NEC08tK6VgZgZTLJ.json
{"createdAt":"2024-05-24T18:09:36.006Z","updatedAt":"2024-06-12T14:38:00.000Z","id":"NEC08tK6VgZgZTLJ","name":"BrightMindBot","active":false,"nodes":[{"parameters":{"updates":["message","inline_query","*","callback_query"],"additionalFields":{}},"id":"ad950245-dd8f-4646-b721-46154114e16a","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[-20,320],"webhookId":"78148a05-7c3f-4d52-a684-2a55f00a8315","credentials":{"telegramApi":{"id":"uPPLfRrNhkMrmcDD","name":"Telegram BrightMindBot"}}},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Command received","additionalFields":{}},"id":"eb5a8ba0-dc5c-4286-ba9c-632947ce4b9a","name":"Telegram","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[680,220],"credentials":{"telegramApi":{"id":"uPPLfRrNhkMrmcDD","name":"Telegram BrightMindBot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"407ff5d5-2160-4736-91ae-8eab3da10117","leftValue":"={{ $('Telegram Trigger').item.json.message.text }}","rightValue":"/","operator":{"type":"string","operation":"startsWith"}}],"combinator":"and"},"options":{}},"id":"d6b571f4-aa68-4e8b-a1e3-596825fe7959","name":"isCommand","type":"n8n-nodes-base.if","typeVersion":2,"position":[420,320]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"Command received","additionalFields":{}},"id":"9c824106-f65c-41ac-96f9-1ff6b82bd57e","name":"Telegram1","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[680,440],"credentials":{"telegramApi":{"id":"uPPLfRrNhkMrmcDD","name":"Telegram BrightMindBot"}}},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"id":"74c051b5-ce2e-43d5-8cd8-e9b2ea82970e","name":"Telegram2","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[220,320],"credentials":{"telegramApi":{"id":"uPPLfRrNhkMrmcDD","name":"Telegram BrightMindBot"}}},{"parameters":{"operation":"set","key":"=BM-Chat_ID","value":"={{ $json.message.chat.id }}","keyType":"sets"},"id":"fae2c2c4-7acc-4e13-b0bc-4b91eb07c737","name":"Redis","type":"n8n-nodes-base.redis","typeVersion":1,"position":[220,500],"credentials":{"redis":{"id":"XxKgniiZBemjHOoP","name":"Redis account"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Telegram2","type":"main","index":0},{"node":"Redis","type":"main","index":0}]]},"isCommand":{"main":[[{"node":"Telegram","type":"main","index":0}],[{"node":"Telegram1","type":"main","index":0}]]},"Telegram2":{"main":[[{"node":"isCommand","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":188574678,"message":{"message_id":51,"from":{"id":782816475,"is_bot":false,"first_name":"Waldir Borba Junior🇧🇷🛫🌎","username":"waldirborbajr","language_code":"en"},"chat":{"id":782816475,"first_name":"Waldir Borba Junior🇧🇷🛫🌎","username":"waldirborbajr","type":"private"},"date":1718202972,"text":"ola"}}}]},"versionId":"e4bcd207-9730-4920-8f95-df860b61115b","triggerCount":0,"tags":[]}