sample-scraping-YHAQ6za9m0s47bP9.json
{"createdAt":"2024-07-25T20:02:20.207Z","updatedAt":"2024-07-25T20:05:11.814Z","id":"YHAQ6za9m0s47bP9","name":"Sample Scraping","active":false,"nodes":[{"parameters":{},"id":"d7e7df5f-e98b-4579-a22b-4016f3854f5c","name":"Start","type":"n8n-nodes-base.start","typeVersion":1,"position":[80,240]},{"parameters":{"url":"https://www.manageengine.com/patch-management/api/api-patch-details-view.html","responseFormat":"string","options":{}},"id":"8b1724ba-48a1-468e-b1e3-a98392ae94e7","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":2,"position":[300,240]},{"parameters":{"extractionValues":{"values":[{"key":"rows","cssSelector":".table-row","returnValue":"html","returnArray":true}]},"options":{}},"id":"5fd48902-e85c-437e-bc9f-de28d986d867","name":"Extract rows","type":"n8n-nodes-base.htmlExtract","typeVersion":1,"position":[520,240]},{"parameters":{"fieldToSplitOut":"rows","options":{"destinationFieldName":"row"}},"id":"6fccaf36-4475-4d9d-a4b5-175ed82d227a","name":"Split out rows","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[740,240]},{"parameters":{"dataPropertyName":"row","extractionValues":{"values":[{"key":"items","cssSelector":"li","returnArray":true}]},"options":{}},"id":"1ab0aa0d-735d-4c4b-bb78-85b5b39f4090","name":"Extract items","type":"n8n-nodes-base.htmlExtract","typeVersion":1,"position":[960,240]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"={{ $item(0).$json.items[0] }}","value":"={{ $json.items[0] }}"},{"name":"={{ $item(0).$json.items[1] }}","value":"={{ $json.items[1] }}"},{"name":"={{ $item(0).$json.items[2] }}","value":"={{ $json.items[2] }}"}]},"options":{}},"id":"f99d4a75-f420-45d9-8168-6df933253ac1","name":"Format items","type":"n8n-nodes-base.set","typeVersion":1,"position":[1180,240]},{"parameters":{"operation":"limit","maxItems":"={{ $items().length - 1 }}","keep":"lastItems"},"id":"d6b6eac9-e7ee-4c46-b829-a21f0c57497c","name":"Remove header item","type":"n8n-nodes-base.itemLists","typeVersion":1,"position":[1400,240]}],"connections":{"Start":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Extract rows","type":"main","index":0}]]},"Extract rows":{"main":[[{"node":"Split out rows","type":"main","index":0}]]},"Split out rows":{"main":[[{"node":"Extract items","type":"main","index":0}]]},"Extract items":{"main":[[{"node":"Format items","type":"main","index":0}]]},"Format items":{"main":[[{"node":"Remove header item","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"dba3ce50-2be5-4d9c-b3dc-77fdfffc32ba","triggerCount":0,"tags":[]}