scrap-flow-hi714zTpJLRBzjvy.json
{"createdAt":"2024-07-25T17:33:41.588Z","updatedAt":"2024-07-25T20:42:19.468Z","id":"hi714zTpJLRBzjvy","name":"Scrap Flow","active":false,"nodes":[{"parameters":{},"id":"48619bf5-3c32-4dc8-ba98-b3b085de23fd","name":"When clicking ‘Test workflow’","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[240,280]},{"parameters":{"url":"https://www.manageengine.com/patch-management/api/api-patch-details-view.html","options":{}},"id":"3730198f-bf5f-40a4-8421-08ccb3b74917","name":"HTTP Request","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,280]},{"parameters":{"fieldToSplitOut":"rows, items","options":{}},"id":"489b2c02-1865-4936-bb28-432534516610","name":"Split Out","type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[880,280],"alwaysOutputData":false},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"rows","cssSelector":".table-row","returnValue":"html","returnArray":true},{"key":"items","cssSelector":"li","returnArray":true}]},"options":{}},"id":"1a741293-6c0d-4539-a966-b80bc746a730","name":"HTML1","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[660,280]},{"parameters":{"operation":"extractHtmlContent","extractionValues":{"values":[{"key":"head","cssSelector":"thead> tr> th","returnValue":"attribute","attribute":"thname","returnArray":true}]},"options":{}},"id":"025257c0-f706-4fc6-b929-c7361420b59c","name":"HTML","type":"n8n-nodes-base.html","typeVersion":1.2,"position":[660,480],"disabled":true},{"parameters":{"assignments":{"assignments":[{"id":"8ad3b2c6-3d32-451b-afd3-f2e23fab49e7","name":"rows[0]","value":"={{ $('HTML1').item.json.rows[0] }}","type":"string"},{"id":"040a8f14-cc05-430e-b407-9984d396b9a6","name":"rows[1]","value":"={{ $('HTML1').item.json.rows[1] }}","type":"string"}]},"options":{}},"id":"fa96892c-e2ba-441a-b743-a89794066b64","name":"Edit Fields","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1100,280]}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"HTML1","type":"main","index":0}]]},"HTML1":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"3dcd13d5-a456-4657-941d-3f04d5e3c944","triggerCount":0,"tags":[]}