subprocess-vEm3SAapmMoorLeC.json
{"createdAt":"2024-07-02T15:29:59.870Z","updatedAt":"2024-07-02T15:49:47.000Z","id":"vEm3SAapmMoorLeC","name":"subprocess","active":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"c11d4dd4-111b-4c58-b284-84eaddcfbe8f","leftValue":"={{ $json.name }}","rightValue":"caco","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"id":"e0c6474d-95b1-4016-b20f-46a07b157b7a","name":"If","type":"n8n-nodes-base.if","typeVersion":2,"position":[440,540]},{"parameters":{"assignments":{"assignments":[{"id":"1c0dbca4-57d6-4db9-b634-800b154ebeda","name":"name","value":"www","type":"string"}]},"options":{}},"id":"27c51bfc-8655-4ea0-9389-9bbe7466ca11","name":"Edit Fields1","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[680,460]},{"parameters":{"assignments":{"assignments":[{"id":"3002d520-0a71-4943-a025-a291f28257a7","name":"marco","value":"polo","type":"string"}]},"options":{}},"id":"ed124d15-fc95-4166-a1e1-9f6856b13daa","name":"Edit Fields2","type":"n8n-nodes-base.set","typeVersion":3.3,"position":[680,640]},{"parameters":{},"id":"e09b585e-862c-4b08-adcf-858efd3dc69c","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[-60,540]},{"parameters":{},"id":"5989ee53-ee21-471b-86be-082ee5923875","name":"No Operation, do nothing","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[980,540]},{"parameters":{"operation":"get","workflowId":{"__rl":true,"value":"xUpH5BL8V2I8lYjO","mode":"list","cachedResultName":"process (#xUpH5BL8V2I8lYjO)"}},"id":"369b6cc7-516c-45a7-b292-e04328c248b5","name":"n8n","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[180,540],"credentials":{"n8nApi":{"id":"CqmkOmrpC8EjTe4D","name":"n8n account"}}}],"connections":{"If":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields2","type":"main","index":0}]]},"Execute Workflow Trigger":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"No Operation, do nothing","type":"main","index":0}]]},"n8n":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"56d7e658-3612-45a2-bebe-f2c671c2705c","triggerCount":0,"tags":[]}