telegram-langchain-qw3tKMvA9mKFeIq4.json
{"createdAt":"2024-06-11T19:15:35.486Z","updatedAt":"2024-06-11T19:15:35.486Z","id":"qw3tKMvA9mKFeIq4","name":"Telegram-LangChain","active":false,"nodes":[{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.text }}","value2":"/start"}]}},"id":"6df830a3-625f-4200-942a-5838c9f94433","name":"Check if start","type":"n8n-nodes-base.if","typeVersion":1,"position":[-480,1410]},{"parameters":{"chatId":"={{ $json.message.chat.id }}","text":"Choose memory:\n\n/m1 - memory 1\n/m2 - memory 2\n/m3 - memory 3","additionalFields":{}},"id":"6ef2bba5-136b-4ed2-9276-57d0ef96c5d0","name":"Choose memory [TELEGRAM]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-240,1270],"credentials":{"telegramApi":{"id":"uPPLfRrNhkMrmcDD","name":"Telegram BrightMindBot"}}},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.message.entities[0].type }}","value2":"bot_command"}]}},"id":"8f1e15a6-f0d6-4f87-baf0-0dfba5d1c4b1","name":"Check if command","type":"n8n-nodes-base.if","typeVersion":1,"position":[-240,1530]},{"parameters":{"operation":"get","propertyName":"currentMemory","key":"={{ $json.message.chat.id }}","options":{}},"id":"5c3f56b0-0fae-4d6b-8cca-defe3f86da50","name":"Get current memory [REDIS]","type":"n8n-nodes-base.redis","typeVersion":1,"position":[-20,1990],"alwaysOutputData":false},{"parameters":{"updates":["message"],"additionalFields":{}},"id":"100b3c2a-4fcc-4a4d-8c12-d48b6ede4a0c","name":"Telegram trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1,"position":[-680,1410],"webhookId":"e51e1f63-a0d4-4cfe-9577-2328ea808a22","credentials":{"telegramApi":{"id":"uPPLfRrNhkMrmcDD","name":"Telegram BrightMindBot"}}},{"parameters":{"operation":"get","propertyName":"currentMemory","key":"={{ $('Telegram trigger').item.json.message.chat.id }}","options":{}},"id":"4a039881-f038-4eb7-9d7d-95b3e1bb95ca","name":"Check current memory [REDIS]","type":"n8n-nodes-base.redis","typeVersion":1,"position":[520,580]},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","text":"=Current memory is {{ $json.currentMemory }}.","additionalFields":{}},"id":"914e93e7-3d74-4bd6-ba7c-7435c11ee458","name":"Send memory info [TELEGRAM]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[720,580]},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","text":"Command not recognized.","additionalFields":{}},"id":"aa24ff8e-3878-4c29-8b61-2ef072b5b47f","name":"Command not recognized [TELEGRAM]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[520,1470]},{"parameters":{"conditions":{"string":[{"value1":"={{ $('Telegram trigger').item.json.message.text }}","value2":"/currentmemory"}]}},"id":"98adca34-66e6-4e43-b011-cb7906fb26c2","name":"Check if current memory [TELEGRAM]","type":"n8n-nodes-base.if","typeVersion":1,"position":[0,1390]},{"parameters":{"conditions":{"string":[{"value1":"={{ $json.currentMemory }}","operation":"isEmpty"}]}},"id":"5da3c851-fe07-4dd1-8a5c-9f39294315bb","name":"Check if record [REDIS]","type":"n8n-nodes-base.if","typeVersion":1,"position":[180,1990]},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","text":"The memory not set. Enter command /start to choose memory.","additionalFields":{}},"id":"863ecde1-6d39-4372-9a9f-9dfcbc2167bd","name":"Inform about empty record [TELEGRAM]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[440,1840]},{"parameters":{"method":"POST","url":"[URL_TO_YOUR_FLOWISE_CHATFLOW]","sendBody":true,"specifyBody":"json","jsonBody":"={\"question\": \"{{ $('Telegram trigger').item.json[\"message\"][\"text\"] }}\", \"overrideConfig\": {\"sessionId\": \"{{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}mslot1\" }}","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"c0dd9ee8-7ad7-4831-aafe-7990031f3237","name":"Use M1 [FLOWISE/ZEP]","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[720,2210]},{"parameters":{"method":"POST","url":"[URL_TO_YOUR_FLOWISE_CHATFLOW]","sendBody":true,"specifyBody":"json","jsonBody":"={\"question\": \"{{ $('Telegram trigger').item.json[\"message\"][\"text\"] }}\", \"overrideConfig\": {\"sessionId\": \"{{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}mslot2\" }}","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"62100dd6-0f34-446d-9a5a-2602229447f0","name":"Use M2 [FLOWISE/ZEP]","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[720,2390]},{"parameters":{"method":"POST","url":"[URL_TO_YOUR_FLOWISE_CHATFLOW]","sendBody":true,"specifyBody":"json","jsonBody":"={\"question\": \"{{ $('Telegram trigger').item.json[\"message\"][\"text\"] }}\", \"overrideConfig\": {\"sessionId\": \"{{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}mslot3\" }}","options":{"response":{"response":{"responseFormat":"text"}}}},"id":"d18f6957-e27d-44f8-9eb3-ba6846b8716c","name":"Use M3 [FLOWISE/ZEP]","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[720,2570]},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","text":"={{ $json.data }}","additionalFields":{}},"id":"7a6d55f8-cc6f-4edb-b018-910130b31e37","name":"Respond M1 [TELEGRAM]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[900,2210]},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","text":"={{ $json.data }}","additionalFields":{}},"id":"9e9383a2-e15d-4576-bb66-3a18c7c282be","name":"Respond M2 [TELEGRAM]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[900,2390]},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","text":"={{ $json.data }}","additionalFields":{}},"id":"cccdc947-99c5-48b6-8017-fcf00a1171bd","name":"Respond M3 [TELEGRAM]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[900,2570]},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","text":"An error occured. Please contact bot admin.","additionalFields":{}},"id":"8327fc76-6226-41fe-9f85-d3b5aa16f5e4","name":"Send error [TELEGRAM]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[720,2790]},{"parameters":{"operation":"sendChatAction","chatId":"={{ $json.message.chat.id }}"},"id":"d907e46c-fb86-462e-b7ff-6386eb0801f1","name":"Send typing action [TELEGRAM]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[-480,1640],"credentials":{"telegramApi":{"id":"uPPLfRrNhkMrmcDD","name":"Telegram BrightMindBot"}}},{"parameters":{"content":"## ⚠️ Note\n\n1. Complete video guide for this workflow is available [on my YouTube](https://www.youtube.com/watch?v=Dfbpt_i4-68). \n2. Remember to add your credentials and configure nodes (covered in the video guide).\n3. If you like this workflow, please subscribe to [my YouTube channel](https://www.youtube.com/@workfloows) and/or [my newsletter](https://workfloows.com/). I invite you also to buy my product [on Gumroad](https://workfloows.gumroad.com/).\n\n**Thank you for your support!**","height":267.3518783538228,"width":382.8182353336517},"id":"c0b6cc32-4f5f-4607-973d-e3cf9ea62edb","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-720,990]},{"parameters":{"content":"## 🦜🔗 Flowise (LangChain)\n\n**This workflow requires installing [FlowiseAI](https://flowiseai.com/) and [Zep](https://www.getzep.com/) on your server.** \n\nInstallation guides and other data about FlowiseAI can be found [here](https://github.com/FlowiseAI/Flowise). Guides for installation of Zep are available in [official documentation](https://docs.getzep.com/deployment/).","height":266.6075757063218,"width":345.7880926620822},"id":"e94d759b-5321-4c2e-9229-d54c63bedfd0","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1080,990]},{"parameters":{"content":"## Trigger\nRemember to add credentials of your Telegram bot.","height":297.78936091241343,"width":182.4715262478496},"id":"33e27473-4992-47aa-9474-84bd5ad77c4f","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-720,1271.7283118148598]},{"parameters":{"content":"## Check if start\nThis node will check if user sends an initial ```/start``` message.","height":299.0166642010856,"width":182.4715262478496},"id":"0ef630bd-d07a-435b-9edc-299a568aa76e","name":"Sticky Note7","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-520,1270.501008526188]},{"parameters":{"content":"## Initial response\nIn response to ```/start``` message, this node sends list of available memory sessions (M1, M2, M3 etc.).","height":400.882837160891,"width":182.4715262478496},"id":"895f26e0-d6f4-41c8-972d-a97bd1e28a38","name":"Sticky Note9","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-280,1068.1338270401945]},{"parameters":{"content":"## Check command\nNode checks if user sends command ```/currentmemory```.","height":345.2706568929251,"width":182.4715262478496},"id":"85f995fd-716d-47b1-aef3-2b9a58ff9b50","name":"Sticky Note10","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-40,1225.6121802679659]},{"parameters":{"content":"## Memory session info\nSequence gets current session from Redis database (```/m1```, ```/m2``` or ```/m3```) and returns information to the user.","height":295.4114607906109,"width":445.19113647927463},"id":"dede1f0a-a6c0-4d76-9cbf-3996bad0df75","name":"Sticky Note11","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,460]},{"parameters":{"content":"## Set memory session\nSequence sets/updates current session in Redis database according to input of the user (```/m1```, ```/m2``` or ```/m3```).","height":665.5201087808667,"width":445.19113647927463},"id":"59bd1032-38a2-445a-8acf-bb309df3d391","name":"Sticky Note12","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[460,770]},{"parameters":{"operation":"set","key":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","value":"/m1"},"id":"d8bfb32c-3d4a-4c3a-a2f6-10797aec6f31","name":"Set memory session [REDIS] [1]","type":"n8n-nodes-base.redis","typeVersion":1,"position":[520,890]},{"parameters":{"operation":"set","key":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","value":"/m2"},"id":"d7aafc41-43d7-4ecb-82c9-d2f09559bbe7","name":"Set memory session [REDIS] [2]","type":"n8n-nodes-base.redis","typeVersion":1,"position":[520,1070]},{"parameters":{"operation":"set","key":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","value":"/m3"},"id":"e39b2f91-45c1-4ce1-a640-058d31472afe","name":"Set memory session [REDIS] [3]","type":"n8n-nodes-base.redis","typeVersion":1,"position":[520,1250]},{"parameters":{"dataType":"string","value1":"={{ $json.message.text }}","rules":{"rules":[{"value2":"/m1"},{"value2":"/m2","output":1},{"value2":"/m3","output":2}]},"fallbackOutput":3},"id":"2556860a-f890-4236-ad28-44077f136c5b","name":"Switch memory sessions [TELEGRAM] [1]","type":"n8n-nodes-base.switch","typeVersion":1,"position":[240,1530]},{"parameters":{"dataType":"string","value1":"={{ $json.currentMemory }}","rules":{"rules":[{"value2":"/m1"},{"value2":"/m2","output":1},{"value2":"/m3","output":2}]},"fallbackOutput":3},"id":"44f66241-362b-489f-a262-468cb30e215f","name":"Switch memory sessions [TELEGRAM] [2]","type":"n8n-nodes-base.switch","typeVersion":1,"position":[440,2150]},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","text":"The memory has been changed to M1.","additionalFields":{}},"id":"e7e27c9f-e49a-4827-8f44-c56f7baf623e","name":"Session confirmation [TELEGRAM] [1]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[720,890]},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","text":"The memory has been changed to M2.","additionalFields":{}},"id":"52e00a95-ec52-4202-9440-cbfe6af449a8","name":"Session confirmation [TELEGRAM] [2]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[720,1070]},{"parameters":{"chatId":"={{ $('Telegram trigger').item.json[\"message\"][\"chat\"][\"id\"] }}","text":"The memory has been changed to M3.","additionalFields":{}},"id":"c457585b-5a82-4c83-9f71-9987bc47d947","name":"Session confirmation [TELEGRAM] [3]","type":"n8n-nodes-base.telegram","typeVersion":1,"position":[720,1250]},{"parameters":{"content":"## Get memory session\nThe sequence gets memory session connected with chat ID from Redis database and checks if it is empty.","height":301.7070028125353,"width":405.1821718020519},"id":"33ad06a9-dee0-4770-9d5e-ac75cebba7bb","name":"Sticky Note13","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-60,1869.1758343483557]},{"parameters":{"content":"## Conversation\nAccording to current memory session (```/m1```, ```/m2``` or ```/m3```) the specific call to FlowiseAI is triggered. **Remember to replace placeholder ```[URL_TO_YOUR_FLOWISE_CHATFLOW]``` with your actual Flowise chatflow URL.** Feel free to modify format of ```sessionId``` parameter (I used combination of Telegram chat ID and suffix ```mslot1```, ```mslot2```, ```mslot3``` - your ID can look totally different depending on the use case).","height":756.3636654191122,"width":445.19113647927463},"id":"bd367774-7385-4a70-8f79-58ad954e22c0","name":"Sticky Note14","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[660,2001.7620462850182]}],"connections":{"Check if start":{"main":[[{"node":"Choose memory [TELEGRAM]","type":"main","index":0}],[{"node":"Check if command","type":"main","index":0}]]},"Check if command":{"main":[[{"node":"Check if current memory [TELEGRAM]","type":"main","index":0}],[{"node":"Get current memory [REDIS]","type":"main","index":0}]]},"Get current memory [REDIS]":{"main":[[{"node":"Check if record [REDIS]","type":"main","index":0}]]},"Telegram trigger":{"main":[[{"node":"Check if start","type":"main","index":0},{"node":"Send typing action [TELEGRAM]","type":"main","index":0}]]},"Check current memory [REDIS]":{"main":[[{"node":"Send memory info [TELEGRAM]","type":"main","index":0}]]},"Check if current memory [TELEGRAM]":{"main":[[{"node":"Check current memory [REDIS]","type":"main","index":0}],[{"node":"Switch memory sessions [TELEGRAM] [1]","type":"main","index":0}]]},"Check if record [REDIS]":{"main":[[{"node":"Inform about empty record [TELEGRAM]","type":"main","index":0}],[{"node":"Switch memory sessions [TELEGRAM] [2]","type":"main","index":0}]]},"Use M1 [FLOWISE/ZEP]":{"main":[[{"node":"Respond M1 [TELEGRAM]","type":"main","index":0}]]},"Use M2 [FLOWISE/ZEP]":{"main":[[{"node":"Respond M2 [TELEGRAM]","type":"main","index":0}]]},"Use M3 [FLOWISE/ZEP]":{"main":[[{"node":"Respond M3 [TELEGRAM]","type":"main","index":0}]]},"Set memory session [REDIS] [1]":{"main":[[{"node":"Session confirmation [TELEGRAM] [1]","type":"main","index":0}]]},"Set memory session [REDIS] [2]":{"main":[[{"node":"Session confirmation [TELEGRAM] [2]","type":"main","index":0}]]},"Set memory session [REDIS] [3]":{"main":[[{"node":"Session confirmation [TELEGRAM] [3]","type":"main","index":0}]]},"Switch memory sessions [TELEGRAM] [1]":{"main":[[{"node":"Set memory session [REDIS] [1]","type":"main","index":0}],[{"node":"Set memory session [REDIS] [2]","type":"main","index":0}],[{"node":"Set memory session [REDIS] [3]","type":"main","index":0}],[{"node":"Command not recognized [TELEGRAM]","type":"main","index":0}]]},"Switch memory sessions [TELEGRAM] [2]":{"main":[[{"node":"Use M1 [FLOWISE/ZEP]","type":"main","index":0}],[{"node":"Use M2 [FLOWISE/ZEP]","type":"main","index":0}],[{"node":"Use M3 [FLOWISE/ZEP]","type":"main","index":0}],[{"node":"Send error [TELEGRAM]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"26adfb42-42f8-4e11-8908-4cf01a9329b9","triggerCount":0,"tags":[]}