chatbot-evo/Chatbot_Template_EVO_API-1.0.json
{
  "name": "Chatbot Template EVO API",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "540ed0bc-5fad-425e-8fce-b05b4cd0e27b",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ],
      "id": "73bba493-a677-4fa2-bafd-332f2d7757e1",
      "name": "Webhook",
      "webhookId": "540ed0bc-5fad-425e-8fce-b05b4cd0e27b"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "310c0cce-bd8e-43b1-b40e-850a9d8a1daa",
              "name": "Quem mandou",
              "value": "={{ $json.body.data.key.remoteJid }}",
              "type": "string"
            },
            {
              "id": "080faabe-abf9-45ee-9711-1f475c3742c3",
              "name": "Instancia",
              "value": "={{ $json.body.instance }}",
              "type": "string"
            },
            {
              "id": "caf10002-6d7c-42f1-b088-1b18c8a39096",
              "name": "Mensagem",
              "value": "={{ $json.body.data.message.conversation }}",
              "type": "string"
            },
            {
              "id": "04f7b0d5-9a52-4594-b71c-04a1b4c95e47",
              "name": "Id da mensagem",
              "value": "={{ $json.body.data.key.id }}",
              "type": "string"
            },
            {
              "id": "e90cf818-d301-4ee8-9045-28475b788d43",
              "name": "Nome da pessoa",
              "value": "={{ $json.body.data.pushName }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        0
      ],
      "id": "e036e921-610f-4964-87db-df92ea7d62de",
      "name": "Dados"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Dados').item.json.Mensagem }}",
        "options": {
          "systemMessage": "=Você deve responder dúvidas dos clientes sobre a nossa página."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        460,
        0
      ],
      "id": "1156214a-d79e-45c3-bc40-096ce30607b5",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        220,
        380
      ],
      "id": "f638aa27-e1cf-4abb-a853-20b5d7314fd9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "d1S8puTifEa3JNu6",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Dados').item.json['Quem mandou'] }}",
        "sessionTTL": 3600,
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.4,
      "position": [
        580,
        380
      ],
      "id": "6b34e715-7122-43c7-97aa-596885f98bfa",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "HGg5zdQdcZi8eJzA",
          "name": "Redis account 5"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat-api",
        "operation": "read-messages",
        "instanceName": "={{ $('Dados').item.json.Instancia }}",
        "remoteJid": "={{ $('Dados').item.json['Quem mandou'] }}",
        "messageId": "={{ $('Dados').item.json['Id da mensagem'] }}"
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        980,
        0
      ],
      "id": "7c3ecb8e-ed9d-482f-a086-8b207ba448fa",
      "name": "Evolution API",
      "credentials": {
        "evolutionApi": {
          "id": "yiVsDyqkCkMscc2V",
          "name": "Evolution TL Server"
        }
      }
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Dados').item.json.Instancia }}",
        "remoteJid": "={{ $('Dados').item.json['Quem mandou'] }}",
        "messageText": "={{ $('AI Agent').item.json.output }}",
        "options_message": {
          "delay": 3000,
          "linkPreview": true
        }
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        1180,
        0
      ],
      "id": "04b4ba30-d996-4ef6-8861-b7c60469e3e3",
      "name": "Evolution API1",
      "credentials": {
        "evolutionApi": {
          "id": "yiVsDyqkCkMscc2V",
          "name": "Evolution TL Server"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Retorna informações da nossa página",
        "url": "https://www.youtube.com/@guilherme_laz"
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        780,
        380
      ],
      "id": "d73d8379-aa12-4659-b2f1-8195fc8a9c4b",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## Como usar:\n\n1. Copie a URL do Webhook e cole na sua instância da Evolution\n\n2. Modifique o System Prompt do AI Agent\n\n3. Escolha entre o Groq ou OpenAi e insira as credenciais\n\n4. Insira as credenciais do Redis\n\n5. Altere o Link da página que você quer consultar no node HTTP Request",
        "height": 300,
        "width": 520,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -200,
        -480
      ],
      "id": "f4acea12-0733-4183-8da4-a1b4436fd11c",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# 1\nCopie a URL de produção e cole na Evolution",
        "height": 240,
        "width": 250,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -210,
        -120
      ],
      "id": "f382ad87-a612-4336-9aa3-1545cef7b420",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# 2\nModifique o System Prompt do agente\n",
        "height": 300,
        "width": 520,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        -100
      ],
      "id": "7320d92a-3cdb-4529-8886-48a6dc8b6284",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# 3\nEscolha um, insira as credenciais e conecte ao agente",
        "height": 280,
        "width": 290,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        180,
        240
      ],
      "id": "b90fa8a0-7b6b-4370-a758-8f7d67f0d23d",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        360,
        380
      ],
      "id": "5a72f0e1-616f-4c32-b967-21f036d01969",
      "name": "Groq Chat Model"
    },
    {
      "parameters": {
        "content": "# 4\nInsira as credenciais",
        "height": 280,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        540,
        240
      ],
      "id": "418f4872-34ca-4812-9e18-8dcd69b12b0d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# 5\nAltere o link da página",
        "height": 280,
        "width": 150,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        240
      ],
      "id": "4ea926b1-5611-46d2-89ea-2ec295d13858",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dados": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evolution API": {
      "main": [
        [
          {
            "node": "Evolution API1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fdf5f8f5-5f77-4aa5-b531-00cc5863e089",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "866b2f1234cd8b1656054c0ae2b53ac81dd3dccfff865a4eac651acc1a0238c0"
  },
  "id": "SDYMpTft9AaK1KKl",
  "tags": []
}